@font-face {
font-family: 'English Towne Medium';
font-style: normal;
font-weight: normal;
src: local('English Towne Medium'), url('fonts/EnglishTowne.woff') format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(fonts/PTSerif/5hX15RUpPERmeybVlLQEWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(fonts/PTSerif/fU0HAfLiPHGlZhZpY6M7dBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(fonts/PTSerif/CPRt--GVMETgA6YEaoGitxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(fonts/PTSerif/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body{
	font-family: 'PT Serif', serif;
}
a, a:hover{
	color: #2c3e50;
	text-decoration: none;
}
/*Header*/
.page-header{
	text-align: center;
	border-bottom: 4px solid #2c3e50;
	margin-bottom: 0px;
}
.page-header h1{
	font-family: 'English Towne Medium';
}
.page-header h1 a{
	font-size: 1.5em;
	text-transform: uppercase;
}
.page-header p{
	color: #95a5a6;
}
.navbar-transparent{
    border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px dashed #2c3e50;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar-default.navbar-transparent .navbar-nav>li>a{
	color: #2c3e50;
	text-transform: uppercase;
}
.navbar-default.navbar-transparent .navbar-nav>li>a:hover{
	text-decoration: underline;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.fnode{
	border-bottom: 1px dashed #2c3e50;
	min-height: 200px;
}
.fnode img {
	width: 150px;
	height: auto;
	max-height: 130px;
	margin: 10px;
    float: left;
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
.fnode img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
}
.clear{
	clear: both;
}
.pagination{
	margin-top: 10px !important;
}
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #2c3e50;
  background-color: #eee;
  border-color: #2c3e50;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #2c3e50;
  border-color: #2c3e50;
}